// Text classes
.text-white { color: $white; }
.text-uppercase { text-transform: uppercase; }
.text-gray { color: $gray; }
.text-header { font-family: $header, sans-serif; }
.text-light-weight { font-weight: 300; }
.text-heavy-weight { font-weight: 600; }

// Margin classes
.margin-none { margin: 0em; }
.margin-half { margin: 0.5em; }
.margin-one { margin: 1em; }
.margin-two { margin: 2em; }
.margin-top-none { margin-top: 0em; }
.margin-top-half { margin-top: 0.5em; }
.margin-top-one { margin-top: 1em; }
.margin-top-two { margin-top: 2em; }
.margin-bottom-none { margin-bottom: 0em; }
.margin-bottom-half { margin-bottom: 0.5em; }
.margin-bottom-one { margin-bottom: 1em; }
.margin-bottom-two { margin-bottom: 2em; }

// Padding classes
.padding-none { padding: 0em; }
.padding-half { padding: 0.5em; }
.padding-one { padding: 1em; }
.padding-two { padding: 2em; }
.padding-top-none { padding-top: 0em; }
.padding-top-half { padding-top: 0.5em; }
.padding-top-one { padding-top: 1em; }
.padding-top-two { padding-top: 2em; }
.padding-bottom-none { padding-bottom :0em; }
.padding-bottom-half { padding-bottom: 0.5em; }
.padding-bottom-one { padding-bottom: 1em; }
.padding-bottom-two { padding-bottom: 2em; }

// Position classes
.fixed { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }

// List styles
.list-bare {
  padding: 0em;
  list-style: none;
}

//Border styles
.border-all    { border:        1px solid $border-color; }
.border-top    { border-top:    1px solid $border-color; }
.border-bottom { border-bottom: 1px solid $border-color; }
.border-right  { border-right:  1px solid $border-color; }
.border-left   { border-left:   1px solid $border-color; }
